:root {
  --color-black-100: hsl(0, 0%, 2%);
  --color-black-90: hsl(0, 0%, 12%);
  --color-black-80: hsl(0, 0%, 18%);
  --color-black-70: hsl(0, 0%, 23%);
  --color-gray-100: hsl(0, 0%, 51%);
  --color-gray-90: hsl(0, 0%, 91%);
  --color-gray-80: hsl(0, 0%, 96%);
  --color-white-100: hsl(0, 0%, 100%);
  --color-primary-60: hsl(274, 82%, 60%);
  --color-red-60: hsl(0, 100%, 66%);

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-big: 4rem;
}

body {
  margin: 0;
}

.container {
  max-width: 720px;
}

.container--center {
  margin: 0 auto;
}
