:root {
  --color-black-100: hsl(0, 0%, 2%);
  --color-black-90: hsl(0, 0%, 12%);
  --color-black-80: hsl(0, 0%, 18%);
  --color-black-70: hsl(0, 0%, 23%);
  --color-gray-100: hsl(0, 0%, 51%);
  --color-gray-90: hsl(0, 0%, 91%);
  --color-gray-80: hsl(0, 0%, 96%);
  --color-red-60: hsl(0, 100%, 66%);
  --color-white-100: hsl(0, 0%, 100%);

  --color-primary-60: hsl(274, 82%, 60%);

  --color-surface-70: var(--color-gray-100);
  --color-surface-80: var(--color-gray-90);
  --color-surface-90: var(--color-gray-80);
  --color-surface-100: var(--color-white-100);

  --color-critical-60: var(--color-red-60);

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-big: 4rem;

  --font-color-body-01: var(--color-black-100);

  --radius-01: 0.25rem;
  --radius-02: 0.5rem;
  --radius-03: 0.75rem;
  --radius-04: 1rem;

  --spacing-1: 0.063rem;
  --spacing-2: 0.125rem;
  --spacing-01: 0.25rem;
  --spacing-02: 0.5rem;
  --spacing-03: 0.75rem;
  --spacing-04: 1rem;
  --spacing-05: 1.25rem;
  --spacing-06: 1.5rem;
  --spacing-07: 1.75rem;
  --spacing-08: 2rem;
  --spacing-09: 2.25rem;
  --spacing-10: 2.5rem;

  --border-color: var(--color-gray-90);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface-100: var(--color-black-100);
    --color-surface-90: var(--color-black-90);
    --color-surface-80: var(--color-black-80);
    --color-surface-70: var(--color-black-70);

    --font-color-body-01: var(--color-white-100);

    --border-color: var(--color-black-70);
  }
}

body {
  margin: 0;
  background-color: var(--color-surface-100);
  color: var(--font-color-body-01);
  font-size: var(--font-size-md);
  line-height: 24px;
  font-weight: 400;
}

*:focus {
  outline: 1px solid var(--color-primary-60);
}

.container {
  max-width: 720px;
}

.container--center {
  margin: 0 auto;
}

input {
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-big);
  font-weight: 700;
  font-style: normal;
  line-height: 77px;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

a {
  color: var(--color-primary-60);
  text-decoration: none;
  outline-offset: 2px;
  border: none;
  border-radius: var(--radius-01);
}

li::marker {
  color: var(--color-primary-60);
}
